body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}
.logout-btn {
    position: absolute;
    top: 10px;
    right: 20px;
}
.logout-btn button {
    padding: 8px 12px;
    background-color: #FF6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}
.logout-btn button:hover {
    background-color: #FF4500;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 20px;
    position: relative;
}
nav {
    display: flex;
    gap: 15px;
    background-color: #f4f4f4;
    padding: 10px 20px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


